{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Hi, i'm Maksim Moryakov 👋</h1>
<p>I'm a junior programmer.</p>
<p>My profile GITHub <a href="https://github.com/maksim-moryakov">Maksim-Moryakov</a></p>
<p>Project_1: 🔬 «Learn to learn» - one-page portfolio website. 
  Link to the project: <a href="https://maksim-moryakov.github.io/how-to-learn/">How-to-learn/</a>
</p>
<p>Project_2: 🗺 «Travel to Russia» - a project about traveling in Russia. 
  Link to the project: <a href="https://maksim-moryakov.github.io/russian-travel/">Russian-travel/</a>
</p>
<p>
  Project_3: 🏡 «Place» - an interactive page, where you can add photos, delete them and put likes.
  Link to the project: <a href="https://maksim-moryakov.github.io/mesto/">Mesto</a>
</p>
<p>
  Project_4: ✈️ «Weekend competition» - a joint project with a classmate as part of a weekend competition
  Link to the project: <a href="https://maksim-danil.github.io/weekend_competition/">Weekend_competitio</a>
</p>
<p>Now I am learning a new programming language Python.</p>
<p>🔨 My stack: HTML; CSS; Javascript; Python; Django.</p>
{% endblock %}