{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <h3>Настройка и запуск</h3>
    <p>1. Склонировать проект:</p>
    <p>
      git clone <a href="https://github.com/maksim-moryakov/hw02_community.git"></a>
    </p>
    <p>- Моряков Максим</p>
    <p>- Email: maksim.moryakov@gmail.com </p>
  </article>
</div>
{% endblock %}